
.card-imghome-top {
  transform: scale(1);
  transition: all 0.2s ease-in-out;
  border-radius: 5cap;
 }

 /*
.card-imghome-top:hover {
  transform: scale(1.5);
}
*/

.overflows {
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
align-items: center;
}

h1 {
  text-align: center;
  color: rgb(209, 13, 13);
}

